.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #b2bec3;
  max-width: 520px;
  margin-inline: auto;
  .buttons {
    color: #0984e3;
    font-size: 125%;
    margin: 1rem;
    * {
      padding-inline: 0.5rem;
      cursor: pointer;
    }
  }
}
