.reviews {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  // background-image: radial-gradient(
  //   circle at center,
  //   rgba(255, 255, 255, 0.8) 0%,
  //   rgba(255, 255, 255, 0.1) 70%
  // );
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
  background: linear-gradient(135deg, #ecf0f1, #bdc3c7);

  width: 95vw;
  min-height: 550px;
  margin: auto;
  border-radius: 1rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media screen and (min-width: 520px) {
    max-width: 520px;
  }
  .buttons {
    color: #0984e3;
    font-size: 125%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    svg {
      padding-inline: 0.5rem;
      cursor: pointer;
      outline: none;
      &:hover {
        fill: white;
      }
    }
    button {
      user-select: none;
      color: #0984e3;
      font-family: sans-serif;
      border: none;
      padding: 0.75rem 1.25rem;
      background: none;
      font-size: 1rem;
      border: 2px solid;
      border-radius: 0.5rem;
      outline: none;
      &:hover {
        color: white;
      }
    }
  }
}
