.user {
  font-family: sans-serif;

  display: flex;
  flex-direction: column;
  max-width: 520px;

  justify-content: center;
  text-align: center;
  user-select: none;
  margin-block: 3rem;
  .pfp {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 1rem auto;
    overflow: hidden;
    box-shadow: 5px 5px 5px #74b9ff;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .info {
    margin: 1rem 0;
    p {
      margin: 0;
      &.job {
        color: #0984e3;
      }
    }
  }
  .content {
    padding: 0 2rem;
    text-align: left;
    margin-bottom: 2rem;
    p:first-letter {
      padding-left: 2rem;
    }
  }
}
